In [1]:
import pandas as pd
import numpy as np

## Reading and Preparing the Data

In [2]:
# Read the data
p_and_l_df = pd.read_csv("budget_data.csv")

In [3]:
# Push the values in each row one place down 
# replace NaN with zero
# specify an int64 dtype for the column 
p_and_l_df['lag'] = p_and_l_df['Profit/Losses'].shift(1).fillna(0).astype('int64')

In [4]:
# Start the calculation from the second row
p_and_l_df.loc[1:,'profit increase/decrease'] = p_and_l_df.loc[1:,'Profit/Losses'] - p_and_l_df.loc[1:,'lag']

In [5]:
# Look at the dataframe to make sure 
# it includes the data as intended
p_and_l_df.head()

       Date  Profit/Losses     lag  profit increase/decrease
0  Jan-2010         867884       0                       NaN
1  Feb-2010         984655  867884                  116771.0
2  Mar-2010         322013  984655                 -662642.0
3  Apr-2010         -69417  322013                 -391430.0
4  May-2010         310503  -69417                  379920.0

## Calculations

In [6]:
# Number of months is the number of rows in the dataFrame
total_months = len(p_and_l_df.index)
# sum of the column
total = p_and_l_df['Profit/Losses'].sum()
# the mean function disregards the NaN which is what we want in this case
average = p_and_l_df['profit increase/decrease'].mean() #ignores the nan in the calculation  
maximum = p_and_l_df['profit increase/decrease'].max()
minimum = p_and_l_df['profit increase/decrease'].min()
# Find the row that corresponds to the max value
max_row = p_and_l_df.loc[p_and_l_df['profit increase/decrease']==p_and_l_df['profit increase/decrease'].max()]
# Extract the date
max_date = max_row.iloc[0, 0]
# Find the row that corresponds to the min value
min_row = p_and_l_df.loc[p_and_l_df['profit increase/decrease']==p_and_l_df['profit increase/decrease'].min()]
# Extract the date
min_date = min_row.iloc[0, 0]

## Presenting the Results

In [7]:
# Output the data
print("Financial Analysis")
print("-----------------------------")
print(f"Total Months: {total_months}")
print(f"Total: ${total}")
print(f"Average  Change: ${average:.2f}")
print(f"Greatest Increase in Profits: {max_date} (${maximum:.0f})")
print(f"Greatest Decrease in Profits: {min_date} (${minimum:.0f})")

Financial Analysis
-----------------------------
Total Months: 86
Total: $38382578
Average  Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159)
Greatest Decrease in Profits: Sep-2013 ($-2196167)

In [8]:
# Write the data to a file
output = open("Financial_Analysis.txt","w+")
output.write("Financial Analysis\r")
output.write("-----------------------------\r")
output.write(f"Total Months: {total_months}\r")
output.write(f"Total: ${total}\r")
output.write(f"Average  Change: ${average:.2f}\r")
output.write(f"Greatest Increase in Profits: {max_date} (${maximum:.0f})\r")
output.write(f"Greatest Decrease in Profits: {min_date} (${minimum:.0f})\r")
output.write("--------------EOF------------")
output.close()